@using Microsoft.AspNet.Identity
@using StoreFront.DATA.EF
@{
    //Added to be able to Substring() Username below so full email address is not shown
    int location = User.Identity.GetUserName().IndexOf("@");
}
@if (Request.IsAuthenticated)
{
    StoreFrontEntities db = new StoreFrontEntities();
    string userID = User.Identity.GetUserId();
    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserID == userID).FirstOrDefault();
    string userFirstName = "Guest"; //default to something in case there is no match on UserDetails
    string favMovie = "Toy Story";
    //if we DID get a match on UserDetails, use that info to populate the userFirstName and favColor variables
    if (currentUser != null)
    {
        userFirstName = currentUser.FirstName;
        favMovie = currentUser.FavoriteMovie;
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav">
            <li>
                @* Updated below - doesn't show full email *@
                @*@Html.ActionLink("Hi " + User.Identity.GetUserName().Substring(0, location), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                @Html.ActionLink($"Hi {userFirstName}", "Index", "Manage", null, htmlAttributes: new { @class = "dropdown-item", title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a></li>
        </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "dropdown-item", id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "dropdown-item", id = "loginLink" })</li>
    @*</ul>*@
}
