@{
    ViewBag.Title = "About Us";
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">@ViewBag.Title</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <div class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div class="col-md-12 text-center">
            <img src="~/Content/img/ReelHouseLogo.png" alt="Justin's Reel House" style="background-color: black;"/>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h4 class="text-center">Justin's Reel House offers a wide range of movies and television shows to delight everyone from the couch potato to the cinephile.</h4>
        </div>
    </div>
</div>